@font-face {
    font-family: "Gotham Pro";
    src: url(../../font/GothamPro-Light.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: "Gotham Pro";
    src: url(../../font/GothamPro.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Gotham Pro";
    src: url(../../font/GothamPro-Medium.ttf);
    font-weight: 500;
  }
@font-face {
  font-family: "Gotham Pro";
  src: url(/../../font/GothamPro-Bold.ttf);
  font-weight: 700;
}